*{
  margin-left: 1;
 
};

.app {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
}

.app_header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 98%;
  background-color: whitesmoke;
  padding: 20px;
  border-bottom: 1px solid lightblue;
  object-fit: contain;
}

.app_notLogin {
  margin-bottom: 30px;
}

.app_headerImage {
  object-fit: contain;
  margin-left: 10px;
  height: 40px;
}

.app_signup {
  display: flex;
  flex-direction: column;
};

