/* *{
  margin-left: 1;
 
}; */

.app {
  background-color:white;
  display: grid;
  padding-bottom: 100px;
  place-items: center;
 
}

.app_header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 98%;
  background-color: rgb(248, 247, 247);
  padding: 20px;
  border-bottom: 1px solid lightblue;
  object-fit: contain;
}

.app_notLogin {
  margin-bottom: 30px;
}

.app_headerImage {
  object-fit: contain;
  margin-left: 2px;
  height: 40px;
}

.app_signup {
  display: flex;
  flex-direction: column;
};

